@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@font-face {
    font-family: alro;
    src: url(./alro-alro-regular-400.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: alro;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    background-image: url(./background.png);
    background-position: center;
     padding: 20px 2rem;
}
button{
    cursor: pointer;
}
header .cart-items{
    position: absolute;
    right: 2rem;
    top: 10%;
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-radius: 12px;
    background-color: rgba(245, 245, 245, 0.806);
}
header .cart-items img{
    height: 50px;
    background-color: rgb(255, 81, 0);
    padding: 5px;
    border-radius: 12px;
}
header .cart-items .product-info{
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-nav{
    display: flex;
    gap: 2rem;
    padding: 10px 2rem;
    border-radius: 50px;
    background-color: transparent;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.281);
    backdrop-filter: blur(5px);
}
#cart{
    padding: 5px 12px;
    background-color: transparent;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.514);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    font-size: 1.5rem;
}
.cart-show{
    width: 50px;
    height: 50px;
    background-color: red;
}
.main-nav a{
    text-decoration: none;
    color: black;
    padding: 5px 12px;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.main-nav a:hover{
    background-color: white;
    border-radius: 50px;
}
.main-line{
    width: 100%;
    height: 80%;
    color: white;
    display: flex;
    align-items: center;
}
.main-line .left{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main-line .right{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
}
.main-line .right .size button{
    color: white;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    gap: 20px;
    flex-direction: row;
    border: none;
    background-color: rgba(0, 0, 0, 0.324);
}
.main-line .right .size{
    display: flex;
    gap: 30px;
}
.main-line .right .size button:active{
    background-color: white;
    color: black;
}
.left p{
width: 70%;
}
.main-line h1{
    font-size: 3.5rem;
    font-weight: 100;
    font-family: "Monoton", sans-serif;
}
.main-line .look{
    padding: 12px 22px;
    width: fit-content;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    font-size: 1rem;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer img{
    height: 100px;
    cursor: pointer;
}
footer .icons{
    font-size: 1rem;
}
footer .icons i{
    padding: 12px 12px;
    background-color:  rgba(0, 0, 0, 0.324);
    margin-right: 20px;
    border-radius: 50%;
    color: white;
}